---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Jiggin' Head Photos";
import "../styles/styles.css";
import JigginHeadPhotosModals from "../components/JigginHeadPhotosModals.astro";
import imageOne from "../assets/jigginhead_trail/photo1.jpg";
import imageTwo from "../assets/jigginhead_trail/photo2.jpg";
import imageThree from "../assets/jigginhead_trail/photo3.jpg";
import imageFour from "../assets/jigginhead_trail/photo4.jpg";
import imageFive from "../assets/jigginhead_trail/photo5.jpg";
import imageSix from "../assets/jigginhead_trail/photo6.jpg";
import imageSeven from "../assets/jigginhead_trail/photo7.jpg";
import imageEight from "../assets/jigginhead_trail/photo8.jpg";
import imageNine from "../assets/jigginhead_trail/photo9.jpg";
import imageTen from "../assets/jigginhead_trail/photo10.jpg";
import imageEleven from "../assets/jigginhead_trail/photo11.jpg";
import imageTwelve from "../assets/jigginhead_trail/photo12.jpg";
import imageThirteen from "../assets/jigginhead_trail/photo13.jpg";
import imageFourteen from "../assets/jigginhead_trail/photo14.jpeg";
import imageFifteen from "../assets/jigginhead_trail/photo15.jpeg";
import heroImage from "../assets/hero_images/view6.jpg";
---

<MainLayout title={title} backgroundImage={heroImage}>
  <main>
    <section class="bg-white mt-10 p-4 border-t-[1px] border-b-[1px] border-gray-300 text-black">
      <h2 class="text-xl font-semibold mb-2">Jiggin' Head Photos</h2>
      <br>
      <p class="italic">Click the images below to show more info</p>
      <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-2 auto-rows-[140px]">
        <label for="modal-1" class="hover:cursor-pointer hover:animate-pulse"><img src={imageOne} alt="Jiggin Head Photo 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-2" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwo} alt="Jiggin Head Photo 2" class="rounded-lg h-full w-full" /></label>
        <label for="modal-3" class="hover:cursor-pointer hover:animate-pulse"><img src={imageThree} alt="Jiggin Head Photo 3" class="rounded-lg h-full w-full" /></label>
        <label for="modal-4" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFour} alt="Jiggin Head Photo 4" class="rounded-lg h-full w-full" /></label>
        <label for="modal-5" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFive} alt="Jiggin Head Photo 5" class="rounded-lg h-full w-full" /></label>
        <label for="modal-6" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSix} alt="Jiggin Head Photo 6" class="rounded-lg h-full w-full" /></label>
        <label for="modal-7" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSeven} alt="Jiggin Head Photo 7" class="rounded-lg h-full w-full" /></label>
        <label for="modal-8" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEight} alt="Jiggin Head Photo 8" class="rounded-lg h-full w-full" /></label>
        <label for="modal-9" class="hover:cursor-pointer hover:animate-pulse"><img src={imageNine} alt="Jiggin Head Photo 9" class="rounded-lg h-full w-full" /></label>
        <label for="modal-10" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTen} alt="Jiggin Head Photo 10" class="rounded-lg h-full w-full" /></label>
        <label for="modal-11" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEleven} alt="Jiggin Head Photo 11" class="rounded-lg h-full w-full" /></label>
        <label for="modal-12" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwelve} alt="Jiggin Head Photo 12" class="rounded-lg h-full w-full" /></label>
        <label for="modal-13" class="hover:cursor-pointer hover:animate-pulse"><img src={imageThirteen} alt="Jiggin Head Photo 13" class="rounded-lg h-full w-full" /></label>
        <label for="modal-14" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFourteen} alt="Jiggin Head Photo 14" class="rounded-lg h-full w-full" /></label>
        <label for="modal-15" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFifteen} alt="Jiggin Head Photo 15" class="rounded-lg h-full w-full" /></label>
      </div>
    </section>
    <JigginHeadPhotosModals />
  </main>
</MainLayout>