---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Local Businesses";
import "../styles/styles.css";
import { Icon } from "astro-icon";
import BusinessCard from "../components/BusinessCard.astro";
import OutputAcresImage from "../assets/business_logos/outputacres.jpg";
import SomethingFishyImage from "../assets/business_logos/somethingfishy.jpg";
import TrinityEcoToursImage from "../assets/business_logos/trinityecotours.jpg";
import BonavistaBiennaleImage from "../assets/business_logos/bonavistabiennale.png";
import DiscoveryGeoPark from "../assets/business_logos/discoverygeo.png";
---

<MainLayout title={title}>
  <main>
    <h2 class="text-center pt-6 text-2xl text-black">Local Business Section Here!</h2>
    <div class="flex flex-wrap justify-center my-6 gap-2">
      <BusinessCard 
        businessImage={OutputAcresImage}
        businessName={"Output Acres"}
        businessDescription={"Family farm, naturally grown produce, and agricultural sustainably."}
        businessAddress={"Main Road, Musgrave Town, NL"} 
        businessPhone={"709-429-0270"} 
        businessEmail={"adam@outputacres.com"} 
        businessWebsite={"www.outputacres.com"}
      >
        <a href="https://www.facebook.com/OutportAcres" target="_blank"><Icon class="w-8 inline transition duration-700 hover:text-[#4267B2]" name="brandico:facebook-rect" /></a>
      </BusinessCard>
      <BusinessCard 
        businessImage={SomethingFishyImage}
        businessName={"Somethin' Fishy NL"}
        businessDescription={"Family owned and operated by Furlong Foods of Plate Cove!"}
        businessAddress={"Main Street, Plate Cove West, NL"} 
        businessPhone={"709-545-2251"} 
        businessEmail={"furlongs@nf.sympatico.ca"} 
        businessWebsite={"www.furlongfoods.ca"}
      >
        <a href="https://www.facebook.com/somethinfishyNL" target="_blank"><Icon class="w-8 inline transition duration-700 hover:text-[#4267B2]" name="brandico:facebook-rect" /></a>
      </BusinessCard>
      <BusinessCard 
        businessImage={TrinityEcoToursImage}
        businessName={"Trinity Eco-Tours"}
        businessDescription={"Sea Kayaking, Whale Watching Tours, All Terrain Vehicle Tours, and more!"}
        businessAddress={"1 Stoneman's Lane, Trinity, NL"} 
        businessPhone={"709-464-3712"} 
        businessEmail={"bobbartlett@trinityeco-tours.com"} 
        businessWebsite={"www.trinityecotours.com"}
      >
        <a href="https://www.facebook.com/TrinityEcoTours" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#4267B2]" name="brandico:facebook-rect" /></a>
        <a href="https://www.twitter.com/trinityecotours" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#1DA1F2]" name="fa:twitter-square" /></a>
        <a href="https://www.instagram.com/trinityecotours" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#F77737]" name="fa:instagram" /></a>
        <a href="https://ar.pinterest.com/trinityecotours" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#E60023]" name="fa:pinterest-square" /></a>
        <a href="https://www.youtube.com/channel/UCYPO-EQs3RZb66gehK1NoUQ" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#FF0000]" name="fa:youtube-play" /></a>
      </BusinessCard>
      <BusinessCard 
        businessImage={BonavistaBiennaleImage}
        businessName={"Bonavista Biennale"}
        businessDescription={"An innovative, rural-based, contemporary art event occuring every two years throughout Newfoundland and Labrador's Bonavista Peninsula."}
        businessAddress={"-"} 
        businessPhone={"709-545-2251"} 
        businessEmail={"admin@bonavistabiennale.com"} 
        businessWebsite={"www.bonavistabiennale.com"}
      >
        <a href="https://www.facebook.com/bonavistabiennale" target="_blank"><Icon class="w-8 inline transition duration-700 hover:text-[#4267B2]" name="brandico:facebook-rect" /></a>
        <a href="https://www.twitter.com/BBiennale" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#1DA1F2]" name="fa:twitter-square" /></a>
        <a href="https://www.instagram.com/bbiennale" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#F77737]" name="fa:instagram" /></a>
      </BusinessCard>
      <BusinessCard 
        businessImage={DiscoveryGeoPark}
        businessName={"Discovery Global Geopark"}
        businessDescription={"Discovery global geopark half a billion years in the making"}
        businessAddress={"P.O. Box 280, Bonavista, NL, Canada"} 
        businessPhone={"709-545-2251"} 
        businessEmail={"info@discoverygeopark.com"} 
        businessWebsite={"www.discoverygeopark.com"}
      >
        <a href="https://www.facebook.com/discoveryglobalgeopark" target="_blank"><Icon class="w-8 inline transition duration-700 hover:text-[#4267B2]" name="brandico:facebook-rect" /></a>
        <a href="https://www.twitter.com/discoverygeonl" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#1DA1F2]" name="fa:twitter-square" /></a>
        <a href="https://www.instagram.com/discoverygeonl" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#F77737]" name="fa:instagram" /></a>
        <a href="https://www.linkedin.com/in/discoverygeopark" target="_blank"><Icon class="w-8 mx-1 inline transition duration-700 hover:text-[#0077B5]" name="fa:linkedin-square" /></a>
      </BusinessCard>
    </div>
  </main>
</MainLayout>