---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Local Businesses";
import "../styles/styles.css";
import BusinessCard from "../components/BusinessCard.astro";
import SocialIcon from "../components/SocialIcon.astro";
import OutportAcresImage from "../assets/business_logos/outportacres.jpg";
import SomethingFishyImage from "../assets/business_logos/somethingfishy.jpg";
import TrinityEcoToursImage from "../assets/business_logos/trinityecotours.jpg";
import BonavistaBiennaleImage from "../assets/business_logos/bonavistabiennale.jpg";
import DiscoveryGeoPark from "../assets/business_logos/discoverygeo.jpg";
import View from "../assets/hero_images/view4.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Local Businesses"} />
    <div class="flex flex-wrap justify-center my-6 gap-2">
      <BusinessCard 
        businessImage={OutportAcresImage}
        businessName={"Outport Acres"}
        businessDescription={"Family farm, naturally grown produce, and agricultural sustainably."}
        businessAddress={"Main Road, Musgrave Town, NL"} 
        businessPhone={"709-429-0270"} 
        businessEmail={"adam@outputacres.com"} 
        businessWebsite={"www.outputacres.com"}
      >
        <SocialIcon socialHref={"https://www.facebook.com/OutportAcres"} socialName={"brandico:facebook-rect"} />
      </BusinessCard>
      <BusinessCard 
        businessImage={SomethingFishyImage}
        businessName={"Somethin' Fishy NL"}
        businessDescription={"Family owned and operated by Furlong Foods of Plate Cove!"}
        businessAddress={"Main Street, Plate Cove West, NL"} 
        businessPhone={"709-545-2251"} 
        businessEmail={"furlongs@nf.sympatico.ca"} 
        businessWebsite={"www.furlongfoods.ca"}
      >
        <SocialIcon socialHref={"https://www.facebook.com/somethinfishyNL"} socialName={"brandico:facebook-rect"} />
      </BusinessCard>
      <BusinessCard 
        businessImage={TrinityEcoToursImage}
        businessName={"Trinity Eco-Tours"}
        businessDescription={"Sea Kayaking, Whale Watching Tours, All Terrain Vehicle Tours, and more!"}
        businessAddress={"1 Stoneman's Lane, Trinity, NL"} 
        businessPhone={"709-464-3712"} 
        businessEmail={"bobbartlett@trinityeco-tours.com"} 
        businessWebsite={"www.trinityecotours.com"}
      >
        <SocialIcon socialHref={"https://www.facebook.com/TrinityEcoTours"} socialName={"brandico:facebook-rect"} />
        <SocialIcon socialHref={"https://www.twitter.com/trinityecotours"} socialName={"fa:twitter-square"} />
        <SocialIcon socialHref={"https://www.instagram.com/trinityecotours"} socialName={"fa:instagram"} />
        <SocialIcon socialHref={"https://ar.pinterest.com/trinityecotours"} socialName={"fa:pinterest-square"} />
        <SocialIcon socialHref={"https://www.youtube.com/channel/UCYPO-EQs3RZb66gehK1NoUQ"} socialName={"fa:youtube-play"} />
      </BusinessCard>
      <BusinessCard 
        businessImage={BonavistaBiennaleImage}
        businessName={"Bonavista Biennale"}
        businessDescription={"An innovative, rural-based, contemporary art event occuring every two years throughout Newfoundland and Labrador's Bonavista Peninsula."}
        businessAddress={"-"} 
        businessPhone={"-"} 
        businessEmail={"admin@bonavistabiennale.com"} 
        businessWebsite={"www.bonavistabiennale.com"}
      >
        <SocialIcon socialHref={"https://www.facebook.com/bonavistabiennale"} socialName={"brandico:facebook-rect"} />
        <SocialIcon socialHref={"https://www.twitter.com/BBiennale"} socialName={"fa:twitter-square"} />
        <SocialIcon socialHref={"https://www.instagram.com/bbiennale"} socialName={"fa:instagram"} />
      </BusinessCard>
      <BusinessCard 
        businessImage={DiscoveryGeoPark}
        businessName={"Discovery Global Geopark"}
        businessDescription={"Discovery global geopark half a billion years in the making"}
        businessAddress={"P.O. Box 280, Bonavista, NL, Canada"} 
        businessPhone={"709-468-7789"} 
        businessPhone={"709-469-2207"}
        businessEmail={"info@discoverygeopark.com"} 
        businessWebsite={"www.discoverygeopark.com"}
      >
        <SocialIcon socialHref={"https://www.facebook.com/discoveryglobalgeopark"} socialName={"brandico:facebook-rect"} />
        <SocialIcon socialHref={"https://www.twitter.com/discoverygeonl"} socialName={"fa:twitter-square"} />
        <SocialIcon socialHref={"https://www.instagram.com/discoverygeonl"} socialName={"fa:instagram"} />
        <SocialIcon socialHref={"https://www.linkedin.com/in/discoverygeopark"} socialName={"fa:linkedin-square"} />
      </BusinessCard>
    </div>
  </main>
</MainLayout>