---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Lodging";
import "../styles/styles.css";
import BusinessCard from "../components/BusinessCard.astro";
import SocialIcon from "../components/SocialIcon.astro";
import RoundDaBayInnImage  from "../assets/business_logos/rounddabayinn.jpg";
import BrookSideImage from "../assets/business_logos/brookside.jpg";
import CedarShakeImage from "../assets/business_logos/cedarshake.jpg";
import View from "../assets/hero_images/view3.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Lodging Section"} />
    <div class="flex flex-wrap justify-center my-6 gap-2">
      <BusinessCard 
          businessImage={RoundDaBayInnImage}
          businessName={"Round Da Bay Inn"}
          businessDescription={"16 Unique Theme Rooms (1 wheelchair accessible, door 32)"}
          businessAddress={"4 Main Road, Plate Cove West, NL"} 
          businessPhone={"709-544-2008"} 
          businessEmail={"rounddabayinn@yahoo.ca"} 
          businessWebsite={"www.rounddabayinn.com"}
        >
          <SocialIcon socialHref={"https://www.facebook.com/RoundDaBayInn"} socialName={"brandico:facebook-rect"} />
        </BusinessCard>
        <BusinessCard 
          businessImage={BrookSideImage}
          businessName={"Beautiful Brookside Cottage"}
          businessDescription={"Beautiful Brookside Cottage has everything you need for a relaxing vacation"}
          businessAddress={"270 Main Road, Plate Cove West, NL"} 
          businessPhone={"416-575-8475"} 
          businessEmail={"-"}
          businessWebsite={"www.airbnb.ca/rooms/37779479"}
        >
          <SocialIcon socialHref={"https://www.airbnb.ca/rooms/37779479"} socialName={"fa-brands:airbnb"} />
        </BusinessCard>
        <BusinessCard 
          businessImage={CedarShakeImage}
          businessName={"The Cedar Shake"}
          businessDescription={"The Cedar Shake provides a charming base for exploring the undiscovered side of the Bonavista Peninsula"}
          businessAddress={"176 Main Road, Plate Cove West, NL"} 
          businessPhone={"-"} 
          businessEmail={"-"}
          businessWebsite={"www.airbnb.ca/h/thecedarshake"}
        >
          <SocialIcon socialHref={"https://www.airbnb.ca/h/thecedarshake"} socialName={"fa-brands:airbnb"} />
        </BusinessCard>
      </div>
  </main>
</MainLayout>