---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Lodging";
import "../styles/styles.css";
import BusinessCard from "../components/BusinessCard.astro";
import SocialIcon from "../components/SocialIcon.astro";
import RoundDaBayInnImage  from "../assets/business_logos/rounddabayinn.jpg";
import BrookSideImage from "../assets/business_logos/brookside.jpg";
import CedarShakeImage from "../assets/business_logos/cedarshake.jpg";
import Amenities from "../components/CardActivities.astro";
import heroImage from "../assets/hero_images/view2.jpg";
---

<MainLayout title={title} backgroundImage={heroImage}>
  <main>
    <section class="flex flex-wrap justify-center my-6 gap-4">
      <BusinessCard 
          businessImage={RoundDaBayInnImage}
          businessName={"Round Da Bay Inn"}
          businessDescription={"16 Unique Theme Rooms (1 wheelchair accessible, door 32)"}
          businessAddress={"4 Main Road, Plate Cove West, NL"} 
          businessPhone={"709-544-2008"} 
          businessEmail={"rounddabayinn@yahoo.ca"} 
          businessWebsite={"http://www.rounddabayinn.com"}
          businessWebName={"www.rounddabayinn.com"}
        >
          <Amenities slot="before_social" activity={"Room Service"} />
          <Amenities slot="before_social" activity={"Contact-Less Check In"} />
          <Amenities slot="before_social" activity={"Gift Shop"} />
          <Amenities slot="before_social" activity={"Gallery"} />
          <SocialIcon socialHref={"https://www.facebook.com/RoundDaBayInn"} socialName={"brandico:facebook-rect"} />
        </BusinessCard>
        <BusinessCard 
          businessImage={BrookSideImage}
          businessName={"Beautiful Brookside Cottage"}
          businessDescription={"Beautiful Brookside Cottage has everything you need for a relaxing vacation"}
          businessAddress={"270 Main Road, Plate Cove West, NL"} 
          businessPhone={"416-575-8475"} 
          businessEmail={"-"}
          businessWebsite={"https://www.airbnb.ca/rooms/37779479"}
          businessWebName={"www.airbnb.ca/rooms/37779479"}
        >
          <Amenities slot="before_social" activity={"Self Check In"} />
          <Amenities slot="before_social" activity={"Deck"} />
          <Amenities slot="before_social" activity={"BBQ"} />
          <Amenities slot="before_social" activity={"Fire Pit"} />
          <Amenities slot="before_social" activity={"Wifi"} />
          <Amenities slot="before_social" activity={"Laundry"} />
          <Amenities slot="before_social" activity={"Air Conditioning"} />
          <SocialIcon socialHref={"https://www.airbnb.ca/rooms/37779479"} socialName={"tabler:brand-airbnb"} />
        </BusinessCard>
        <BusinessCard 
          businessImage={CedarShakeImage}
          businessName={"The Cedar Shake"}
          businessDescription={"The Cedar Shake provides a charming base for exploring the undiscovered side of the Bonavista Peninsula"}
          businessAddress={"176 Main Road, Southern Bay, NL"} 
          businessPhone={"-"} 
          businessEmail={"-"}
          businessWebsite={"https://www.airbnb.ca/h/thecedarshake"}
          businessWebName={"www.airbnb.ca/h/thecedarshake"}
        >
          <Amenities slot="before_social" activity={"Self Check In"} />
          <Amenities slot="before_social" activity={"Fireplace"} />
          <Amenities slot="before_social" activity={"BBQ"} />
          <Amenities slot="before_social" activity={"Wifi"} />
          <Amenities slot="before_social" activity={"Fire Pit"} />
          <Amenities slot="before_social" activity={"Bay View"} />
          <Amenities slot="before_social" activity={"Laundry"} />
          <SocialIcon socialHref={"https://www.airbnb.ca/h/thecedarshake"} socialName={"tabler:brand-airbnb"} />
        </BusinessCard>
      </section>
  </main>
</MainLayout>