---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Naked Man Beach Photos";
import "../styles/styles.css";
import CarouselSlider from "../components/CarouselSlide.astro"
import imageOne from "../assets/nakedman_beach/photo1.jpg";
import imageTwo from "../assets/nakedman_beach/photo2.jpg";
import imageThree from "../assets/nakedman_beach/photo3.jpg";
import imageFour from "../assets/nakedman_beach/photo4.jpg";
import imageFive from "../assets/nakedman_beach/photo5.jpg";
import imageSix from "../assets/nakedman_beach/photo6.jpg";
import imageSeven from "../assets/nakedman_beach/photo7.jpg";
import imageEight from "../assets/nakedman_beach/photo8.jpg";
import imageNine from "../assets/nakedman_beach/photo9.jpg";
import imageTen from "../assets/nakedman_beach/photo10.jpg";
import imageEleven from "../assets/nakedman_beach/photo11.jpg";
import imageTwelve from "../assets/nakedman_beach/photo12.jpg";
import imageThirteen from "../assets/nakedman_beach/photo13.jpg";
import imageFourteen from "../assets/nakedman_beach/photo14.jpg";
import imageFifteen from "../assets/nakedman_beach/photo15.jpg";
import imageSixteen from "../assets/nakedman_beach/photo16.jpg";
import imageSeventeen from "../assets/nakedman_beach/photo17.jpg";
import imageEighteen from "../assets/nakedman_beach/photo18.jpg";
import imageNineteen from "../assets/nakedman_beach/photo19.jpg";
import imageTwenty from "../assets/nakedman_beach/photo20.jpg";
import imageTwentyOne from "../assets/nakedman_beach/photo21.jpg";
import imageTwentyTwo from "../assets/nakedman_beach/photo22.jpg";
import imageTwentyThree from "../assets/nakedman_beach/photo23.jpg";
import imageTwentyFour from "../assets/nakedman_beach/photo24.jpg";
import imageTwentyFive from "../assets/nakedman_beach/photo25.jpg";
import imageTwentySix from "../assets/nakedman_beach/photo26.jpg";
import imageTwentySeven from "../assets/nakedman_beach/photo27.jpg";
import imageTwentyEight from "../assets/nakedman_beach/photo28.jpg";
import imageTwentyNine from "../assets/nakedman_beach/photo29.jpg";
import imageThirty from "../assets/nakedman_beach/photo30.jpg";
import imageThirtyOne from "../assets/nakedman_beach/photo31.jpg";
import View from "../assets/hero_images/view1.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Naked Man Beach"} />
    <div class="carousel w-11/12 mx-auto my-6 md:w-1/2 lg:w-1/3">
      <CarouselSlider slideNumber={"slide1"} imageSrc={imageOne} slideBack={"#slide31"} slideAhead={"#slide2"} />
      <CarouselSlider slideNumber={"slide2"} imageSrc={imageTwo} slideBack={"#slide1"} slideAhead={"#slide3"} />
      <CarouselSlider slideNumber={"slide3"} imageSrc={imageThree} slideBack={"#slide2"} slideAhead={"#slide4"} />
      <CarouselSlider slideNumber={"slide4"} imageSrc={imageFour} slideBack={"#slide3"} slideAhead={"#slide5"} />
      <CarouselSlider slideNumber={"slide5"} imageSrc={imageFive} slideBack={"#slide4"} slideAhead={"#slide6"} />
      <CarouselSlider slideNumber={"slide6"} imageSrc={imageSix} slideBack={"#slide5"} slideAhead={"#slide7"} />
      <CarouselSlider slideNumber={"slide7"} imageSrc={imageSeven} slideBack={"#slide6"} slideAhead={"#slide8"} />
      <CarouselSlider slideNumber={"slide8"} imageSrc={imageEight} slideBack={"#slide7"} slideAhead={"#slide9"} />
      <CarouselSlider slideNumber={"slide9"} imageSrc={imageNine} slideBack={"#slide8"} slideAhead={"#slide10"} />
      <CarouselSlider slideNumber={"slide10"} imageSrc={imageTen} slideBack={"#slide9"} slideAhead={"#slide11"} />
      <CarouselSlider slideNumber={"slide11"} imageSrc={imageEleven} slideBack={"#slide10"} slideAhead={"#slide12"} />
      <CarouselSlider slideNumber={"slide12"} imageSrc={imageTwelve} slideBack={"#slide11"} slideAhead={"#slide13"} />
      <CarouselSlider slideNumber={"slide13"} imageSrc={imageThirteen} slideBack={"#slide12"} slideAhead={"#slide14"} />
      <CarouselSlider slideNumber={"slide14"} imageSrc={imageFourteen} slideBack={"#slide13"} slideAhead={"#slide15"} />
      <CarouselSlider slideNumber={"slide15"} imageSrc={imageFifteen} slideBack={"#slide14"} slideAhead={"#slide16"} />
      <CarouselSlider slideNumber={"slide16"} imageSrc={imageSixteen} slideBack={"#slide15"} slideAhead={"#slide17"} />
      <CarouselSlider slideNumber={"slide17"} imageSrc={imageSeventeen} slideBack={"#slide16"} slideAhead={"#slide18"} />
      <CarouselSlider slideNumber={"slide18"} imageSrc={imageEighteen} slideBack={"#slide17"} slideAhead={"#slide19"} />
      <CarouselSlider slideNumber={"slide19"} imageSrc={imageNineteen} slideBack={"#slide18"} slideAhead={"#slide20"} />
      <CarouselSlider slideNumber={"slide20"} imageSrc={imageTwenty} slideBack={"#slide19"} slideAhead={"#slide21"} />
      <CarouselSlider slideNumber={"slide21"} imageSrc={imageTwentyOne} slideBack={"#slide20"} slideAhead={"#slide22"} />
      <CarouselSlider slideNumber={"slide22"} imageSrc={imageTwentyTwo} slideBack={"#slide21"} slideAhead={"#slide23"} />
      <CarouselSlider slideNumber={"slide23"} imageSrc={imageTwentyThree} slideBack={"#slide22"} slideAhead={"#slide24"} />
      <CarouselSlider slideNumber={"slide24"} imageSrc={imageTwentyFour} slideBack={"#slide23"} slideAhead={"#slide25"} />
      <CarouselSlider slideNumber={"slide25"} imageSrc={imageTwentyFive} slideBack={"#slide24"} slideAhead={"#slide26"} />
      <CarouselSlider slideNumber={"slide26"} imageSrc={imageTwentySix} slideBack={"#slide25"} slideAhead={"#slide27"} />
      <CarouselSlider slideNumber={"slide27"} imageSrc={imageTwentySeven} slideBack={"#slide26"} slideAhead={"#slide28"} />
      <CarouselSlider slideNumber={"slide28"} imageSrc={imageTwentyEight} slideBack={"#slide27"} slideAhead={"#slide29"} />
      <CarouselSlider slideNumber={"slide29"} imageSrc={imageTwentyNine} slideBack={"#slide28"} slideAhead={"#slide30"} />
      <CarouselSlider slideNumber={"slide30"} imageSrc={imageThirty} slideBack={"#slide29"} slideAhead={"#slide31"} />
      <CarouselSlider slideNumber={"slide31"} imageSrc={imageThirtyOne} slideBack={"#slide30"} slideAhead={"#slide1"} />
    </div>
  </main>
</MainLayout>