---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - History";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view1.png";
import plateCoveWestHistoryOne from "../assets/history/platecoveHistory1.jpg";
import plateCoveWestHistoryTwo from "../assets/history/platecoveHistory3.jpg";
import plateCoveWestHistoryThree from "../assets/history/platecoveHistory4.jpg";
import plateCoveWestHistoryFour from "../assets/history/platecoveHistory5.jpg";
import plateCoveEastHistoryOne from "../assets/history/platecoveHistory2.jpg";
import plateCoveEastHistoryTwo from "../assets/history/platecoveHistory6.jpg";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Plate Cove History"} />
    <div class="bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 text-black shadow-md shadow-slate-500">
      <h2 class="text-xl font-semibold mb-2">History</h2>
      <p>
        The land we gather on in our communities in Ktaqmkuk, traditional unceded Mi'Kaw territory. We hold in great respect the diverse histories  and cultures of the people
        of the Plate Cove area, and the ongoing connections with the past, present and future in our relationships with all people of the Plate Cove area in Newfoundland
        and Labrador.
      </p>
      <br>
      <p>
        Plate Cove was first settled in the early 1800's largely by Irish Roman Cathloics from Bonavista and Kings Cove with English
        Roman Cathloics on the west side of the harbour. The consuses, directories, church, tax, fishing and voter records taken in
        the 1820 - 1940 timeframe indicate that the families that settled in Pplate Cove were Furlong, Keough, Driscoll, Dooley, Moss, Murphy, Philpot(Philpott),
        Russell, Tracey and Braker. There was also a family of Hogan's on the back side of Plate Cove West at Naked Man Beach. The family moved from the area around
        the early to mid 1900's with little known of why they left or where they went.
      </p>
      <br>
      <p>
        Although originally known as Plate Cove, certain records indicated the destinction between Plate Cove East and Plate Cove West. In fact all voting registers and
        census records after 1900 make this distinction. By 1850 a minor but important road was built between PLate Cove and Kings Cove allowing people easier access to
        church services, visit and trade with other communities. A school was built in Open Hall around 1850 (approximately 6 miles from Plate Cove East).
        In the mid 1960's the road between Kings Cove and PLate Cove was improved to better link various small communities. Electricity was provided in 1964 and a
        telephone system was installed. Although there was only one phone to serve the needs of the community until a party line phone service was installed in 1968 that was
        shared bwteeen family members until individual phones were installed in the mid to late 1970's.
      </p>
      <br>
      <p>
        In addition to the various fisheries. Plate Cove was surrounded by the best agricultural land in Bonnista South. Cattle, sheep, pigs, goats and poultry thrived on
        pastures, and crops grown around the two communities provided a surplus of dairy products, root crops, eggs and oats for other settlements in the
        vicinity. The importance to the region of the two communities is indicated by the fact that the only bulls found in Bonavista South in 1935, 19 in all, resided here.
      </p>
      <br>
      <p>
        The first postmistress of Plate Cove West was Catherine Jane Walsh.
      </p>
      <br>
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2">     
        <figure>
          <img src={plateCoveWestHistoryThree} alt="Stripping logs for slipway">
          <figcaption class="text-center italic font-semibold text-sm">Stripping logs for slipway - Plate Cove West</figcaption>
        </figure>
        <figure>
          <img src={plateCoveWestHistoryOne} alt="Plate Cove West Photo">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove West</figcaption>
        </figure>
        <figure>
          <img src={plateCoveWestHistoryTwo} alt="Plate Cove warf repairs">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove West - Warf Repairs</figcaption>
        </figure>
        <figure>
          <img src={plateCoveWestHistoryFour} alt="Workers">
          <figcaption class="text-center italic font-semibold text-sm">Bill Mews, left and Bill Walsh</figcaption>
        </figure>
        <figure>
          <img src={plateCoveEastHistoryOne} alt="Plate Cove East Photo">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove East</figcaption>
        </figure>
        <figure>
          <img src={plateCoveEastHistoryTwo} alt="Plate Cove East Boat Damage">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove East</figcaption>
        </figure>
      </div>
    </div>
  </main>
</MainLayout>
