---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Plate Cove West Photos";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import heroImage from "../assets/hero_images/view4.jpg";
import imageOne from "../assets/platecove/photo1.jpg";
import imageTwo from "../assets/platecove/photo2.jpg";
import imageThree from "../assets/platecove/photo3.jpg";
import imageFour from "../assets/platecove/photo4.jpg";
import imageFive from "../assets/platecove/photo5.jpg";
import imageSix from "../assets/platecove/photo6.jpg";
import imageSeven from "../assets/platecove/photo7.jpg";
import imageEight from "../assets/platecove/photo8.jpg";
import imageNine from "../assets/platecove/photo9.jpg";
import imageTen from "../assets/platecove/photo10.jpg";
import imageEleven from "../assets/platecove/photo11.jpg";
import imageTwelve from "../assets/platecove/photo12.jpg";
import imageThirteen from "../assets/platecove/photo13.jpg";
import imageFourteen from "../assets/platecove/photo14.jpg";
import imageFifteen from "../assets/platecove/photo15.jpg";
import imageSixteen from "../assets/platecove/photo16.jpg";
import imageSeventeen from "../assets/platecove/photo17.jpg";
import imageEighteen from "../assets/platecove/photo18.jpg";
import imageNineteen from "../assets/platecove/photo19.jpg";
import imageTwenty from "../assets/platecove/photo20.jpg";
import imageTwentyOne from "../assets/platecove/photo21.jpg";
import imageTwentyTwo from "../assets/platecove/photo22.jpg";
import imageTwentyThree from "../assets/platecove/photo23.jpg";
import imageTwentyFour from "../assets/platecove/photo24.jpg";
import imageTwentyFive from "../assets/platecove/photo25.jpg";
import imageTwentySix from "../assets/platecove/photo26.jpg";
import imageTwentySeven from "../assets/platecove/photo27.jpg";
import imageTwentyEight from "../assets/platecove/photo28.jpg";
import imageTwentyNine from "../assets/platecove/photo29.jpg";
import PlateCovePhotosModals from "../components/PlateCovePhotosModals.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={heroImage} />
    <section class="bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 text-black shadow-md shadow-slate-500">
      <h2 class="text-xl font-semibold mb-2">Plate Cove Photos</h2>
      <br>
      <p class="italic">Click the images below to show more info</p>
      <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-2 auto-rows-fr">
        <label for="modal-1" class="hover:cursor-pointer hover:animate-pulse"><img src={imageOne} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-2" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwo} alt="Plate Cove History 2" class="rounded-lg h-full w-full" /></label>
        <label for="modal-3" class="hover:cursor-pointer hover:animate-pulse"><img src={imageThree} alt="Plate Cove History 3" class="rounded-lg h-full w-full" /></label>
        <label for="modal-4" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFour} alt="Plate Cove History 4" class="rounded-lg h-full w-full" /></label>
        <label for="modal-5" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFive} alt="Plate Cove History 5" class="rounded-lg h-full w-full" /></label>
        <label for="modal-6" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSix} alt="Plate Cove History 6" class="rounded-lg h-full w-full" /></label>
        <label for="modal-7" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSeven} alt="Plate Cove History 7" class="rounded-lg h-full w-full" /></label>
        <label for="modal-8" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEight} alt="Plate Cove History 8" class="rounded-lg h-full w-full" /></label>
        <label for="modal-9" class="hover:cursor-pointer hover:animate-pulse"><img src={imageNine} alt="Plate Cove History 9" class="rounded-lg h-full w-full" /></label>
        <label for="modal-10" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTen} alt="Plate Cove History 10" class="rounded-lg h-full w-full" /></label>
        <label for="modal-11" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEleven} alt="Plate Cove History 11" class="rounded-lg h-full w-full" /></label>
        <label for="modal-12" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwelve} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-13" class="hover:cursor-pointer hover:animate-pulse"><img src={imageThirteen} alt="Plate Cove History 12" class="rounded-lg h-full w-full" /></label>
        <label for="modal-14" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFourteen} alt="Plate Cove History 13" class="rounded-lg h-full w-full" /></label>
        <label for="modal-15" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFifteen} alt="Plate Cove History 14" class="rounded-lg h-full w-full" /></label>
        <label for="modal-16" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSixteen} alt="Plate Cove History 15" class="rounded-lg h-full w-full" /></label>
        <label for="modal-17" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSeventeen} alt="Plate Cove History 16" class="rounded-lg h-full w-full" /></label>
        <label for="modal-18" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEighteen} alt="Plate Cove History 17" class="rounded-lg h-full w-full" /></label>
        <label for="modal-19" class="hover:cursor-pointer hover:animate-pulse"><img src={imageNineteen} alt="Plate Cove History 18" class="rounded-lg h-full w-full" /></label>
        <label for="modal-20" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwenty} alt="Plate Cove History 19" class="rounded-lg h-full w-full" /></label>
        <label for="modal-21" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentyOne} alt="Plate Cove History 20" class="rounded-lg h-full w-full" /></label>
        <label for="modal-22" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentyTwo} alt="Plate Cove History 21" class="rounded-lg h-full w-full" /></label>
        <label for="modal-23" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentyThree} alt="Plate Cove History 22" class="rounded-lg h-full w-full" /></label>
        <label for="modal-24" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentyFour} alt="Plate Cove History 23" class="rounded-lg h-full w-full" /></label>
        <label for="modal-25" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentyFive} alt="Plate Cove History 24" class="rounded-lg h-full w-full" /></label>
        <label for="modal-26" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentySix} alt="Plate Cove History 25" class="rounded-lg h-full w-full" /></label>
        <label for="modal-27" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentySeven} alt="Plate Cove History 26" class="rounded-lg h-full w-full" /></label>
        <label for="modal-28" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentyEight} alt="Plate Cove History 27" class="rounded-lg h-full w-full" /></label>
        <label for="modal-29" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwentyNine} alt="Plate Cove History 28" class="rounded-lg h-full w-full" /></label>
      </div>
    </section>
    <PlateCovePhotosModals />
  </main>
</MainLayout>