---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - History";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import View from "../assets/hero_images/view1.png";
import plateCoveWestHistoryOne from "../assets/history/platecoveHistory1.jpg";
import plateCoveWestHistoryTwo from "../assets/history/platecoveHistory3.jpg";
import plateCoveWestHistoryThree from "../assets/history/platecoveHistory4.jpg";
import plateCoveWestHistoryFour from "../assets/history/platecoveHistory5.jpg";
import plateCoveEastHistoryOne from "../assets/history/platecoveHistory2.jpg";
import plateCoveEastHistoryTwo from "../assets/history/platecoveHistory6.jpg";
import PlateCoveArticleOne from "../components/PlateCoveArticle.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Plate Cove History"} />
    <section class="bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 text-black shadow-md shadow-slate-500">
      <h2 class="text-xl font-semibold mb-2">History</h2>
      <PlateCoveArticleOne />
      <br>
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2">     
        <figure>
          <img src={plateCoveWestHistoryThree} alt="Stripping logs for slipway">
          <figcaption class="text-center italic font-semibold text-sm">Stripping logs for slipway - Plate Cove West</figcaption>
        </figure>
        <figure>
          <img src={plateCoveWestHistoryOne} alt="Plate Cove West Photo">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove West</figcaption>
        </figure>
        <figure>
          <img src={plateCoveWestHistoryTwo} alt="Plate Cove warf repairs">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove West - Warf Repairs</figcaption>
        </figure>
        <figure>
          <img src={plateCoveWestHistoryFour} alt="Workers">
          <figcaption class="text-center italic font-semibold text-sm">Bill Mews, left and Bill Walsh</figcaption>
        </figure>
        <figure>
          <img src={plateCoveEastHistoryOne} alt="Plate Cove East Photo">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove East</figcaption>
        </figure>
        <figure>
          <img src={plateCoveEastHistoryTwo} alt="Plate Cove East Boat Damage">
          <figcaption class="text-center italic font-semibold text-sm">Plate Cove East</figcaption>
        </figure>
      </div>
    </section>
  </main>
</MainLayout>
