---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Churches & Schools History";
import heroImage from "../assets/hero_images/view3.png";
import "../styles/styles.css";
import ChurchModals from "../components/ChurchHistoryModals.astro";
import oldChurchPhoto1 from "../assets/history/oldChurch.jpg";
import oldChurchPhoto2 from "../assets/history/oldChurch2.jpg";
import oldChurchPhoto3 from "../assets/history/oldChurch3.jpg";
import oldChurchPhoto4 from "../assets/history/oldChurch4.jpeg";
import oldChurchPhoto5 from "../assets/history/oldChurch5.jpg";
import ChurchSchoolArticle from "../components/ChurchSchoolArticle.astro";
---

<MainLayout title={title} backgroundImage={heroImage}>
  <main>
    <section class=" bg-white mt-10 p-4 border-t-[1px] border-b-[1px] border-gray-300 text-black">
      <h2 class="text-xl font-semibold mb-2">Churches & Schools History</h2>
      <ChurchSchoolArticle />
      <p class="italic">Click the images below to show more info</p>
      <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-2 auto-rows-[140px]">
        <label for="modal-1" class="hover:cursor-pointer hover:animate-pulse"><img src={oldChurchPhoto1} alt="Church History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-2" class="hover:cursor-pointer hover:animate-pulse"><img src={oldChurchPhoto2} alt="Church History 2" class="rounded-lg h-full w-full" /></label>
        <label for="modal-3" class="hover:cursor-pointer hover:animate-pulse"><img src={oldChurchPhoto3} alt="Church History 3" class="rounded-lg h-full w-full" /></label>
        <label for="modal-4" class="hover:cursor-pointer hover:animate-pulse"><img src={oldChurchPhoto4} alt="Church History 4" class="rounded-lg h-full w-full" /></label>
        <label for="modal-5" class="hover:cursor-pointer hover:animate-pulse"><img src={oldChurchPhoto5} alt="Church History 5" class="rounded-lg h-full w-full" /></label>
      </div>
    </section>
    <ChurchModals />
  </main>
</MainLayout>
