---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Plate Cove West Photos";
import "../styles/styles.css";
import CarouselSlider from "../components/CarouselSlide.astro";
import imageOne from "../assets/platecove/photo1.jpg";
import imageTwo from "../assets/platecove/photo2.jpg";
import imageThree from "../assets/platecove/photo3.jpg";
import imageFour from "../assets/platecove/photo4.jpg";
import imageFive from "../assets/platecove/photo5.jpg";
import imageSix from "../assets/platecove/photo6.jpg";
import imageSeven from "../assets/platecove/photo7.jpg";
import imageEight from "../assets/platecove/photo8.jpg";
import imageNine from "../assets/platecove/photo9.jpg";
import imageTen from "../assets/platecove/photo10.jpg";
import imageEleven from "../assets/platecove/photo11.jpg";
import imageTwelve from "../assets/platecove/photo12.jpg";
import imageThirteen from "../assets/platecove/photo13.jpg";
import imageFourteen from "../assets/platecove/photo14.jpg";
import imageFifteen from "../assets/platecove/photo15.jpg";
import imageSixteen from "../assets/platecove/photo16.jpg";
import imageSeventeen from "../assets/platecove/photo17.jpg";
import imageEighteen from "../assets/platecove/photo18.jpg";
import View from "../assets/hero_images/view4.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Plate Cove"} />
    <div class="carousel w-11/12 mx-auto my-6 md:w-1/2 lg:w-1/3">
      <CarouselSlider slideNumber={"slide1"} imageSrc={imageOne} slideBack={"#slide18"} slideAhead={"#slide2"} />
      <CarouselSlider slideNumber={"slide2"} imageSrc={imageTwo} slideBack={"#slide1"} slideAhead={"#slide3"} />
      <CarouselSlider slideNumber={"slide3"} imageSrc={imageThree} slideBack={"#slide2"} slideAhead={"#slide4"} />
      <CarouselSlider slideNumber={"slide4"} imageSrc={imageFour} slideBack={"#slide3"} slideAhead={"#slide5"} />
      <CarouselSlider slideNumber={"slide5"} imageSrc={imageFive} slideBack={"#slide4"} slideAhead={"#slide6"} />
      <CarouselSlider slideNumber={"slide6"} imageSrc={imageSix} slideBack={"#slide5"} slideAhead={"#slide7"} />
      <CarouselSlider slideNumber={"slide7"} imageSrc={imageSeven} slideBack={"#slide6"} slideAhead={"#slide8"} />
      <CarouselSlider slideNumber={"slide8"} imageSrc={imageEight} slideBack={"#slide7"} slideAhead={"#slide9"} />
      <CarouselSlider slideNumber={"slide9"} imageSrc={imageNine} slideBack={"#slide8"} slideAhead={"#slide10"} />
      <CarouselSlider slideNumber={"slide10"} imageSrc={imageTen} slideBack={"#slide9"} slideAhead={"#slide11"} />
      <CarouselSlider slideNumber={"slide11"} imageSrc={imageEleven} slideBack={"#slide10"} slideAhead={"#slide12"} />
      <CarouselSlider slideNumber={"slide12"} imageSrc={imageTwelve} slideBack={"#slide11"} slideAhead={"#slide13"} />
      <CarouselSlider slideNumber={"slide13"} imageSrc={imageThirteen} slideBack={"#slide12"} slideAhead={"#slide14"} />
      <CarouselSlider slideNumber={"slide14"} imageSrc={imageFourteen} slideBack={"#slide13"} slideAhead={"#slide15"} />
      <CarouselSlider slideNumber={"slide15"} imageSrc={imageFifteen} slideBack={"#slide14"} slideAhead={"#slide16"} />
      <CarouselSlider slideNumber={"slide16"} imageSrc={imageSixteen} slideBack={"#slide15"} slideAhead={"#slide17"} />
      <CarouselSlider slideNumber={"slide17"} imageSrc={imageSeventeen} slideBack={"#slide16"} slideAhead={"#slide18"} />
      <CarouselSlider slideNumber={"slide18"} imageSrc={imageEighteen} slideBack={"#slide17"} slideAhead={"#slide1"} />
    </div>
  </main>
</MainLayout>