---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - History";
import "../styles/styles.css";
import HeroBanner from "../components/HeroBanner.astro";
import heroImage from "../assets/hero_images/view2.jpg";
import plateCoveHistoryOne from "../assets/history/platecoveHistory1.jpg";
import plateCoveHistoryTwo from "../assets/history/platecoveHistory3.jpg";
import plateCoveHistoryThree from "../assets/history/platecoveHistory4.jpg";
import plateCoveHistoryFour from "../assets/history/platecoveHistory5.jpg";
import plateCoveHistoryFive from "../assets/history/boatPhoto.jpg";
import plateCoveHistorySix from "../assets/history/oldWarf.jpg";
import plateCoveHistorySeven from "../assets/history/platecoveHistory2.jpg";
import plateCoveHistoryEight from "../assets/history/platecoveHistory6.jpg";
import plateCoveHistoryNine from "../assets/history/platecoveHistory7.jpg";
import plateCoveHistoryTen from "../assets/history/platecoveHistory8.jpg";
import plateCoveHistoryEleven from "../assets/history/platecoveHistory9.jpg";
import plateCoveHistoryTwelve from "../assets/history/platecoveHistory10.jpg";
import PlateCoveArticleOne from "../components/PlateCoveArticle.astro";
import PlateCoveHistoryModals from "../components/PlateCoveHistoryModals.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={heroImage} />
    <section class="bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 text-black shadow-md shadow-slate-500">
      <h2 class="text-xl font-semibold mb-2">Plate Cove History</h2>
      <PlateCoveArticleOne />
      <br>
      <p class="italic">Click the images below to show more info</p>
      <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-2">
        <label for="modal-1" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryOne} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-2" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryTwo} alt="Plate Cove History 2" class="rounded-lg h-full w-full" /></label>
        <label for="modal-3" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryThree} alt="Plate Cove History 3" class="rounded-lg h-full w-full" /></label>
        <label for="modal-4" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryFour} alt="Plate Cove History 4" class="rounded-lg h-full w-full" /></label>
        <label for="modal-5" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryFive} alt="Plate Cove History 5" class="rounded-lg h-full w-full" /></label>
        <label for="modal-6" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistorySix} alt="Plate Cove History 6" class="rounded-lg h-full w-full" /></label>
        <label for="modal-7" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistorySeven} alt="Plate Cove History 7" class="rounded-lg h-full w-full" /></label>
        <label for="modal-8" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryEight} alt="Plate Cove History 8" class="rounded-lg h-full w-full" /></label>
        <label for="modal-9" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryNine} alt="Plate Cove History 9" class="rounded-lg h-full w-full" /></label>
        <label for="modal-10" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryTen} alt="Plate Cove History 10" class="rounded-lg h-full w-full" /></label>
        <label for="modal-11" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryEleven} alt="Plate Cove History 11" class="rounded-lg h-full w-full" /></label>
        <label for="modal-12" class="hover:cursor-pointer hover:animate-pulse"><img src={plateCoveHistoryTwelve} alt="Plate Cove History 12" class="rounded-lg h-full w-full" /></label>
      </div>
    </section>
    <PlateCoveHistoryModals />
  </main>
</MainLayout>
