---
import MainLayout from "../layout/MainLayout.astro";
const title = "Plate Cove - Red Bech Photos";
import "../styles/styles.css";
import RedBeachPhotosModals from "../components/RedBeachPhotosModals.astro";
import imageOne from "../assets/red_beach/photo1.jpg";
import imageTwo from "../assets/red_beach/photo2.jpg";
import imageThree from "../assets/red_beach/photo3.jpg";
import imageFour from "../assets/red_beach/photo4.jpg";
import imageFive from "../assets/red_beach/photo5.jpg";
import imageSix from "../assets/red_beach/photo6.jpg";
import imageSeven from "../assets/red_beach/photo7.jpg";
import imageEight from "../assets/red_beach/photo8.jpg";
import imageNine from "../assets/red_beach/photo9.jpg";
import imageTen from "../assets/red_beach/photo10.jpg";
import imageEleven from "../assets/red_beach/photo11.jpg";
import imageTwelve from "../assets/red_beach/photo12.jpg";
import imageThirteen from "../assets/red_beach/photo13.jpg";
import imageFourteen from "../assets/red_beach/photo14.jpg";
import imageFifteen from "../assets/red_beach/photo15.jpg";
import imageSixteen from "../assets/red_beach/photo16.jpg";
import imageSeventeen from "../assets/red_beach/photo17.jpg";
import imageEighteen from "../assets/red_beach/photo18.jpg";
import View from "../assets/hero_images/view2.png";
import HeroBanner from "../components/HeroBanner.astro";
---

<MainLayout title={title}>
  <main>
    <HeroBanner backgroundImage={View} heroText={"Red Beach"} />
        <section class="bg-white my-6 p-4 rounded-lg border-[1px] border-gray-300 mx-4 text-black shadow-md shadow-slate-500">
      <h2 class="text-xl font-semibold mb-2">Red Beach Photos</h2>
      <br>
      <p class="italic">Click the images below to show more info</p>
      <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-2 auto-rows-fr">
        <label for="modal-1" class="hover:cursor-pointer hover:animate-pulse"><img src={imageOne} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-2" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwo} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-3" class="hover:cursor-pointer hover:animate-pulse"><img src={imageThree} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-4" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFour} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-5" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFive} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-6" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSix} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-7" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSeven} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-8" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEight} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-9" class="hover:cursor-pointer hover:animate-pulse"><img src={imageNine} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-10" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTen} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-11" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEleven} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-12" class="hover:cursor-pointer hover:animate-pulse"><img src={imageTwelve} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-13" class="hover:cursor-pointer hover:animate-pulse"><img src={imageThirteen} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-14" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFourteen} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-15" class="hover:cursor-pointer hover:animate-pulse"><img src={imageFifteen} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-16" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSixteen} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-17" class="hover:cursor-pointer hover:animate-pulse"><img src={imageSeventeen} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
        <label for="modal-18" class="hover:cursor-pointer hover:animate-pulse"><img src={imageEighteen} alt="Plate Cove History 1" class="rounded-lg h-full w-full" /></label>
      </div>
    </section>
    <RedBeachPhotosModals />
  </main>
</MainLayout>