---
const { trailImage, altImage, trailName, trailDescription, trailLength, trailLocation } = Astro.props
---

<section class="flex justify-center gap-6 flex-col my-6 md:flex-row lg:flex-row p-2 text-black">
  <div>
    <img
      src={trailImage}
      alt={altImage}
      class="max-w-sm mx-auto"
    />
  </div>
  <div class="mx-auto md:mx-0 lg:mx-0 bg-white p-6 rounded-lg border-[1px] border-gray-300 max-w-md">
    <h2 class="text-3xl font-bold mb-2">{trailName}</h2>
    <p class="mb-2">{trailDescription}</p>
    <p class="mb-2"><span class="font-bold">Length: </span>{trailLength}</p>
    <p><span class="font-bold">Location: </span>{trailLocation}</p>
    <slot />
  </div>
</section>